/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
    border-color: hsl(var(--nextui-background));
}
div.jsoneditor-menu {
    background-color: hsl(var(--nextui-default));
}
div.jsoneditor-tree,
div.jsoneditor-mode-code,
div.jsoneditor textarea.jsoneditor-text {
    background-color: hsl(var(--nextui-background));
    color: hsl(var(--nextui-foreground));
}
div.jsoneditor-field,
div.jsoneditor-value {
    color: hsl(var(--nextui-foreground));
}
table.jsoneditor-search div.jsoneditor-frame {
    background: hsl(var(--next-content1));
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
    background-color: hsl(var(--next-content1));
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
    background-color: hsl(var(--next-content1));
    border-color: hsl(var(--next-content1));
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
    background-color: hsl(var(--next-content2));
    border-color: hsl(var(--next-content2));
}

div.jsoneditor-tree button:focus,
div.jsoneditor-tree button.jsoneditor-button:focus{
    background-color: hsl(var(--next-background));
    outline-color: hsl(var(--nextui-primary));
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
    color: hsl(var(--nextui-foreground));
}
div.jsoneditor td.jsoneditor-separator {
    color: hsl(var(--nextui-divider));
}
div.jsoneditor-value.jsoneditor-string {
    color: hsl(var(--nextui-primary-500));
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
    color: hsl(var(--nextui-success));
}
div.jsoneditor-value.jsoneditor-number {
    color: hsl(var(--nextui-warning));
}
div.jsoneditor-value.jsoneditor-boolean {
    color: hsl(var(--nextui-primary));
}
div.jsoneditor-value.jsoneditor-null {
    color: hsl(var(--nextui-danger));
}
div.jsoneditor-value.jsoneditor-invalid {
    color: hsl(var(--nextui-foreground));
}
